<head>




<style>

.font = {font-size: 500px;}
#color {color: pink;}
</style>





</head>

<body>
            <li><a href="/home2">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/signout">Sign out</a></li>
   <div>
     </a>
   <a href = "/friends"> 
                <button type="submit">
        <img src="https://flxt.tmsimg.com/assets/p183931_b_v8_ac.jpg" alt="buttonpng" width = "400" height = "600" border="0" />
      </button>
    </a>
    <h1 id = "color">Friends is a 90's Comedy TV show, based in Manhattan, about 6 friends who go through just about every life experience imaginable together; love, marriage, divorce, children, heartbreaks, fights, new jobs and job losses and all sorts of drama.</h1>